.change-date {
    grid-row: 2/3;
    grid-column: 4/5;
    justify-self: start;

    font-size: 24px;
    line-height: 19px;
    text-align: center;
    font-family: $font-roboto;
    color: white;
    font-weight: 100;

    background-color: transparent;
    border: none;

    transform: rotate(-73deg) translate(-70px, -70px);

    &:focus {
        outline: none;
    }

    i {
        margin-right: 20px;
    }
}