.picker {
    grid-column: 5/10;
    grid-row: 2/3;
    justify-self: center;
    // background: cornflowerblue;

    padding-bottom: 50px;


    input {
        font-size: 80px;
        font-family: "Roboto Condensed";
        font-weight: bold;
        
        color: $color-gray-one;
        text-align: center;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #E3B924;
        &:focus {
            outline: none;
        }
    }
}